{% extends "base.html" %}

{% block content %}
    {% if INTRO_CONTENT %}
        <div class="row intro-content">
            <div class="col-lg-offset-2 col-md-offset-1 mb-5">
                {{ INTRO_CONTENT }}
            </div>
        </div>
    {% endif %}

    {% if PERSONAL_GALLERY %}
    {# rotary gallery #}
    {% include "me-carousel.html" %}
    {% endif %}

    <h2 class="text-primary">Beispiele bisheriger Arbeiten</h2>

    {% include "product-carousel.html" %}

    {% include "pagination.html" %}
{% endblock content %}
