    <div class="carousel-container mb-5">
        <div id="carousel-showme" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="{{ CAROUSEL_INTERVAL * 1000 }}">
            <div class="carousel-inner">
                {% for image in PERSONAL_GALLERY %}
                <div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
                    <div class="carousel-image">
                    <img class="h-100" src="{{ image.1 }}" alt="{{ image.0 }}">
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-showme" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-showme" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
